@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");
:root {
  --main-font: "Flama";
  --color-text: #222;
  --color-primary: #fafafa;
  --color-white: #FFFFFF;
  --border-radius: 5px;
  --color-white: #fff;
  --color-black: #000;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, img {
  vertical-align: middle;
}

html, body {
  overflow-x: hidden !important;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  font-family: "Sora", "sans-serif";
  color: var(--color-text);
}

.container {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 767px) {
  .container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1202px) {
  .container {
    max-width: 1212px;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-header {
  margin-top: 30px;
}
.site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-header .container .logo a img {
  width: 90px;
  height: 25px;
}
@media (min-width: 767px) {
  .site-header .container .logo a img {
    width: 140px;
    height: 40px;
  }
}
.site-header .container .navigation a {
  margin-right: 5px;
  padding: 6px 6px;
  font-size: 8px;
  font-weight: 800;
}
@media (min-width: 767px) {
  .site-header .container .navigation a {
    margin-right: 15px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 800;
  }
}
.site-header .container .navigation a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.first-page {
  margin-top: 25px;
}
@media (min-width: 767px) {
  .first-page {
    margin-top: 50px;
  }
}
.first-page .container .title {
  background-image: url("../Fotos/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.first-page .container .title:before {
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
.first-page .container .title h2 {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  z-index: 500;
}
@media (min-width: 767px) {
  .first-page .container .title h2 {
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 50px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 500;
  }
}
@media (min-width: 1024px) {
  .first-page .container .title h2 {
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 72px;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 500;
  }
}
.first-page .container .description {
  margin-top: 40px;
}
@media (min-width: 767px) {
  .first-page .container .description {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.first-page .container .description .description-1 {
  width: 100%;
}
@media (min-width: 767px) {
  .first-page .container .description .description-1 {
    width: 50%;
  }
}
.first-page .container .description .description-1 h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 29px;
}
@media (min-width: 767px) {
  .first-page .container .description .description-1 h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
@media (min-width: 1024px) {
  .first-page .container .description .description-1 h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 0px;
  }
}
.first-page .container .description .description-2 {
  width: 100%;
}
.first-page .container .description .description-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.photos {
  margin-top: 47px;
}
@media (min-width: 767px) {
  .photos {
    margin-top: 80px;
  }
}
.photos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 767px) {
  .photos .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .photos .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.photos .container .album .photos-1 {
  width: 167px;
  height: 140px;
}
@media (min-width: 767px) {
  .photos .container .album .photos-1 {
    width: 250px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .photos .container .album .photos-1 {
    width: 309px;
    height: 258px;
  }
}
.photos .container .album .photos-2 {
  width: 342px;
  height: 250px;
}
@media (min-width: 767px) {
  .photos .container .album .photos-2 {
    width: 590px;
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .photos .container .album .photos-2 {
    width: 631px;
    height: 464px;
  }
}

.opinion {
  margin-top: 70px;
}
@media (min-width: 767px) {
  .opinion {
    margin-top: 80px;
  }
}
.opinion .container h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 29px;
}
@media (min-width: 767px) {
  .opinion .container h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 767px) {
  .opinion .container .opinion-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.opinion .container .opinion-people .opinion-people-1 {
  background-color: #000000;
  margin-right: 16px;
  padding: 71px 49px 0px 45px;
  border-radius: 10px;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .opinion .container .opinion-people .opinion-people-1 {
    background-color: #000000;
    margin-right: 16px;
    padding: 71px 49px 0px 45px;
    border-radius: 10px;
  }
}
.opinion .container .opinion-people .opinion-people-1 .opinion-people-2 {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 26px;
}
.opinion .container .opinion-people .opinion-people-1 .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.opinion .container .opinion-people .opinion-people-1 .people .people-img {
  padding-bottom: 35px;
  margin-right: 32px;
}
.opinion .container .opinion-people .opinion-people-1 .people .people-img img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.opinion .container .opinion-people .opinion-people-1 .people .people-name {
  margin-top: 10px;
}
.opinion .container .opinion-people .opinion-people-1 .people .people-name .name {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 6px;
}
.opinion .container .opinion-people .opinion-people-1 .people .people-name .city {
  font-size: 11px;
  color: #999999;
  font-weight: 300;
}

.footer {
  margin-top: 80px;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 767px) {
  .footer .container .footer-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer .container .footer-1 img {
  width: 75px;
  height: 21px;
  margin-bottom: 11px;
}
@media (min-width: 767px) {
  .footer .container .footer-1 img {
    width: 70px;
    height: 20px;
    margin-right: 10px;
  }
}
@media (min-width: 1024px) {
  .footer .container .footer-1 img {
    width: 100px;
    height: 28px;
    margin-right: 35px;
  }
}
.footer .container .footer-1 p {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .footer .container .footer-1 p {
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .footer .container .footer-1 p {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
  }
}
.footer .container .footer-2 {
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .footer .container .footer-2 {
    margin-bottom: 0px;
  }
}
.footer .container .footer-2 .img-1 {
  width: 11px;
  height: 18px;
  margin-right: 17px;
}
@media (min-width: 767px) {
  .footer .container .footer-2 .img-1 {
    width: 7px;
    height: 13px;
    margin-right: 8px;
  }
}
@media (min-width: 1024px) {
  .footer .container .footer-2 .img-1 {
    width: 9px;
    height: 15px;
    margin-right: 17px;
  }
}
.footer .container .footer-2 img {
  width: 18px;
  height: 18px;
  margin-right: 17px;
}
@media (min-width: 767px) {
  .footer .container .footer-2 img {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
}
@media (min-width: 1024px) {
  .footer .container .footer-2 img {
    width: 15px;
    height: 15px;
    margin-right: 17px;
  }
}
.footer .container .footer-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container .footer-3 p {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  margin-right: 5px;
}
@media (min-width: 767px) {
  .footer .container .footer-3 p {
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    margin-right: 5px;
  }
}
@media (min-width: 1024px) {
  .footer .container .footer-3 p {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    margin-right: 5px;
  }
}
.footer .container .footer-3 img {
  width: 93px;
  height: 14px;
}